$fontPrimary : 'Liberation Serif';
$fontSecondary : 'Linux Libertine G';
$fontTexte: sans-serif;
$colorPrimary: #30343a;
$colorSecondary: #cfa55c;
$colorFont: black;
$colorFontSecondary: white;
$paddingStandard: 1rem;